<!-- src/main/resources/templates/fragments/menu.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Menu</title>
  </head>
  <body>
  <!-- The next line allows us to include the menu bar in other thymeleaf template files -->
  <div th:fragment="menu-bar">
  <!-- Menu Bar -->
    <nav class="menu-bar">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/user_index}">Register/Login</a></li>
        <li><a th:href="@{/customer_index}">Messages</a></li>
        <li><a th:href="@{/employee_index}">Logout</a></li>
      </ul>
    </nav>
  </div>
  </body>
</html>