<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<!-- Include the menu bar fragment -->
<div th:replace="~{fragments/menu :: menu-bar}"></div>

<table th:each="ms : ${messages}">
    <tr>
        <td>ID Number:</td>
        <td th:text="${ms.messageID}"></td>
    </tr>
    <tr>
        <td>Sender:</td>
        <td th:text="|${ms.sender} |"></td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td th:text="${ms.subject}"></td>
    </tr>
    <tr>
        <td>Date Sent:</td>
        <td th:text="${ms.timestamp}"></td>
    </tr>
    <tr> </tr>
</table>
</body>
</html>